.attribution {
     font-size: 11px; text-align: center; 
    }
    
.attribution a {
     color: hsl(228, 45%, 44%); 
    }

body {
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}



main {
    max-width: 320px; 
    background-color: white;
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    z-index: 2;
    
}

.user-sec-img {
    display: flex;
    justify-content: center;
    margin-bottom: -30%;
    border-bottom: 1px solid lightgray;
}

.user-pic {
    transform: translate(0%, -80%) scale(.75);
    border-radius: 50%;
    border-color: white;
    border-width: thick;
    border-style: solid;
   
    

}

.cover-pic {
    max-width: 100%;
}

.name {
    display: grid;
    justify-content: center;
    position: relative;
    transform: translate(0%, -30%)
}

h1 {
    justify-content: center;
    margin-bottom: 0;
}

p.location {
    justify-self: center;
    margin-top: 0;
    color: grey;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
}

div.followers {
    display: grid;
    justify-content: center;
}

h2.followers {
    margin-bottom: -10%;
}

span.followers {

}

span.followers {
    margin-left: -10px;
}

div.likes {
    display: grid;
    justify-content: center;
}

h2.likes {
    margin-bottom: -10%;
}

span.likes {
    margin-left: 5px;
}

div.photos {
    display: grid;
    justify-content: center;
}

h2.photos {
    margin-bottom: -10%;
}

span.photos {

}

/* Typography */

h2 {
    font-size: 1.1rem;
}

p {
    font-size: .9rem;
    font-weight: 100;

}

span {
    font-size: .8rem;
    font-weight: 100;
    color: grey;
}

span.age {
    font-size: 1.5rem;
    font-weight: 100;
    color: grey;
}

.bg-pattern-top {
  position: fixed;
  top: 0 auto;
  left: 0 auto;
  transform: translate(-47%, -40%);
  z-index: 1;
}

.bg-pattern-bottom {
  position: fixed;
  bottom: 0 auto;
  right: 0 auto;
  transform: translate(47%, 30%);
  z-index: 1;
}

footer {
    align-self:;
    visibility: hidden;
}

@media (min-width: 1100px) {

.bg-pattern-top {
  position: fixed;
  top: 0 auto;
  left: 0 auto;
  transform: translate(-56%, -40%);
  z-index: 1;
}

.bg-pattern-bottom {
  position: fixed;
  bottom: 0 auto;
  right: 0 auto;
  transform: translate(45%, 49%);
  z-index: 1;
}
}
